/* -- frameworks -- */
body.mobile div.main-frame {
    margin: 0;
    padding: 2% 4% 4% 4%;
}
body.mobile div.ruler {
	margin-left:  10px;
	margin-right: 10px;
}
body.mobile ul {
    /* padding-left: 28px; */
}

/* -- text related -- */
body.mobile {
    font-size: 30px;
}
body.mobile h3 {
    font-size: 40px;
}
body.mobile p {
    line-height: 1.5;
}
body.mobile p.intro {
    font-size: 24px;
    line-height: 1.5;
}

