@font-face {
    font-family: 'paleo_hebrewregular';
    src: url('fonts/paleohebrew-webfont.woff2') format('woff2'),
         url('fonts/paleohebrew-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'protosinaiticregular';
    src: url('fonts/proto-sinaitic-13-webfont.woff2') format('woff2'),
         url('fonts/proto-sinaitic-13-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'protosinaitic_1regular';
    src: url('fonts/proto-sinaitic-15-webfont.woff2') format('woff2'),
         url('fonts/proto-sinaitic-15-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.heb-modern {
    font-family: "David Libre", "Frank Ruhl Libre";
    font-size: 22px;
}
.heb-paleo {
    font-family: 'paleo_hebrewregular';
    font-size: 22px;
}
.heb-15-demo {
    font-family: 'protosinaitic_1regular';
    font-size: 38px;
}
.heb-15 {
    font-family: 'protosinaitic_1regular';
    font-size: 20px;
}
.heb-13 {
    font-family: 'protosinaiticregular';
}

