/* -- frameworks -- */
* {
    box-sizing: border-box;
}
div.main-frame {
    margin: 1% 25%;
    /* padding: 2% 10% 4% 10%;  */
    border: 1px solid LightGrey;
    box-shadow: 0 0 10px #555;
}
div.ruler {
	margin-left:  50px;
	margin-right: 50px;
	/* margin-top:    0px; */
	/* margin-bottom: 0px; */
    /* border: 1px solid LightGrey; */
}
ul {
    list-style-type: circle;
    padding-left: 28px;
}

/* -- text related -- */
body {
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
}
h2 {
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, SimHei, STKaiti, SimSun, serif; */
    font-weight: normal;
	font-size: 40px;
    padding: 10px;
    border-bottom: 1px LightGrey solid;
    line-height: 100%;
	color: DimGray;
}
h3 {
    font-weight: normal;
	font-size: 30px;
    padding: 10px;
    border-bottom: 1px LightGrey solid;
    line-height: 100%;
	color: DimGray;
}
p {
	line-height: 1.8;
}
p.intro {
    font-size: 16px;
	margin-top: 3px;
    color: DimGray;
}
p.verse {
    font-size: 16px;
    color: Tomato;
}
.tail {
    font-size: 12px;
    color: DimGray;
	line-height: 1.5;
	padding: 10px;
    border-top: 1px LightGrey solid;
}
.lit {
    font-size: 12px;
    color: DimGray;
    line-height: 1.5;
    vertical-align: middle;
}

/* -- other things -- */
a {text-decoration: none;}
a:link {color: black;}
a:visited {color: black;}
a:hover {color: Crimson;}
a:active {color: Crimson;}

hr { color: LightGrey; }

img {
    display: block;
    /* box-shadow: 0 0 10px #555; */
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

